<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reclamos.Properties.Settings.Cadenasql" connectionString="Data Source=TCA;Initial Catalog=ReclamosDb;User ID=Sa;Password=123456" />
    </connectionStrings>
</configuration>