<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reclamos.Properties.Settings.Cadenasql" connectionString="Data Source=10.0.0.200\MSSQLSERVER,9090;Initial Catalog=ReclamosDb;User ID=Sa;Password=Gru2015mil" />
    </connectionStrings>
</configuration>